/* General styles */
body {
  background-color: rgba(235, 230, 230, 0.836);
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; /* Body font */
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif; /* Header font */
}

p {
  font-family: 'Roboto', sans-serif; /* Paragraph font */
}

.price {
  font-size: 18px; 
  color: green !important; 
  padding: 5px; 
  font-family: 'Cinzel', serif; /* Price font */
}

/* Styles for medium devices (tablets, small desktops) */
@media (max-width: 768px) {
  .home-section {
    flex-direction: column;
    padding: 15px;
  }

  .price {
    font-size: 16px;
  }

  .product-card {
    margin: 15px;
    padding: 10px;
  }

  .product-image {
    width: 80%;
    margin: 0 auto;
  }
}

/* Styles for small devices (mobile phones) */
@media (max-width: 480px) {
  .home-section {
    padding: 10px;
  }

  .price {
    font-size: 14px;
  }

  .product-card {
    margin: 10px;
    padding: 5px;
  }

  .product-image {
    width: 100%;
    margin: 0 auto;
  }

  h2 {
    font-size: 18px;
    font-family: 'Lora', serif; /* Header font for smaller devices */
  }

  p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif; /* Paragraph font for smaller devices */
  }
}
